@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-7 text-3xl font-bold text-darkGrayishBlue md:text-4xl;
  }

  p {
    @apply mx-auto max-w-3xl text-base leading-9 text-grayishBlue md:text-lg;
  }
}

body {
  background-image: url("../assets/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../assets/images/bg-header-mobile.png");
  }
}

.section-container {
  @apply mx-auto max-w-6xl px-10 text-center;
}

.buttons-container {
  @apply flex w-full flex-col justify-center space-y-6 text-lg text-white md:flex-row md:space-x-4 md:space-y-0 md:text-xl;
}
